{% extends 'pages/base.html'%}

{% block content %}
<section>
    <h1>Webstarter</h1>
    <p>The WebStarter is the perfect solution for customers who wish to establish a custom and credible online presence, without all of the hassle typically associated with modern websites. Rather than trying to force you into a CMS or stuff your new site into an existing template,  we prefer to start with the a blank canvas and build your site from the ground up. We will focus on building your unique brand, your way, giving features you need, while laying a solid and flexible foundation for any future upgrade.  </p>
</section>

<section>
    <h2>Package Features</h2>
    <div class="blurb">
        
        <h3>Design</h3>
        <p>During the design process we will work closely with you to determine the look and feel of your site. Here we will establish the page layout for all devices, color scheme, fonts choices, images and image treatment, illustrations buttons & Icons and set initial copy for the page.</p>
    </div>

   
    <div class="blurb">
        <h3>Development</h3>
        <p>During the next step, we will take your approved design and write clean, readable and maintainable code to make it function on the web. During this phase you can expect to review and provide feedback on a live version of yoursite running on our staging server
        </p>
    </div>
   

    <div class="blurb">
        <h3>Deployment</h3>
        <p>Once you are happy with the staged version of your site, we will setup and secure your remote server where we will deploy the site. during this process we will register your domain and setup DNS records and setup a Free SSL certificate with Let's Encrypt</p>
    </div>

    <div class="blurb">
        <h3>Hosting & Maintenance</h3>
        <p>Our webstarter package includes 1 year hosting and maintenance. You will get a VPS running Ubuntu Linux. Your server will have 1GB ram, 1 Core CPU, 25GB SSD, 1 TB Transfer, 40 Gbps Network In and 1000Mbps Network out. We will keep your site updated and set aside 1 hour per month to make updates or add content to your site. Our hosting is scalable, so ad your site demands grow, we can always upgrade your server.</p>
    </div>
   
</section>

{% endblock %}
    
